{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% load staticfiles%}

{% block content %}

  <div class="content-box">
    <h1>Login</h1>
  </div>

  {% if user.is_authenticated %}
  <div class="content-box">

    <p>You're already logged in. If you'd like, you can <a href="{% url 'logout' %}">logout</a> or head to your <a href="{% url 'viewer:project_list' %}">projects</a>.</p>

  </div>

  {% else %}

    {% if form.errors %}
        <div class="error">
            <h4>Please correct the following errors before proceeding:</h4>
            <ul>
                {% for key, value in form.errors.items %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

  <div class="content-box">

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Create one</a></p>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

  </div>

  {% endif %}

  {% endblock content %}