{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}

{% load staticfiles%}

{% block content %}

  {% if user.is_authenticated %}

  <div class="content-box">
    <h1>You're already logged in</h1>

    <p>If you'd like, you can <a href="{% url 'logout' %}">logout</a> or head to your <a href="{% url 'viewer:project_list' %}">projects</a>.</p>
  </div>

  {% else %}

    {% if form.errors %}
      <div class="error">
          <h4>Please correct the following errors before proceeding:</h4>
          <ul>
              {% for key, value in form.errors.items %}
                  <li>{{ value }}</li>
              {% endfor %}
          </ul>
      </div>
    {% endif %}

    <div class="content-box">

      <h2>Please enter your email</h2>
      <p></p>

      <form action="" method="post">
          {% csrf_token %}

          <table class="form_box" >
            {% for field in form %}
                <tr>
                  <td>{{ field.label }}</td>
                  <td>{{ field }}</td>
            {% endfor %}
                  <td>
                      <button type="submit">Send passwod reset link</button>
                  </td>
                </tr>
          </table>
      </form>

    </div>

  {% endif %}

{% endblock content %}