{% extends 'base.html' %}
{% block title %}Change Lipids{% endblock title %}

{% load staticfiles%}
{% load filename %}

{% block content %}

  {% if user.is_authenticated %}

    <div class="content-box">

      <h1>Lipid Adjustments for dataset "{{ data.data_set_title }}"</h1>

    </div>

    {% if enough_adjustments %}

      <div class="content-box">

        <p>The number of adjustments for this dataset is equal to the number of lipids for this project.</p>

        <h2>Go back to <a href="{% url 'viewer:sample_detail' project_id=project.id sample_id=sample.id %}">{{ sample.sample_title }}</a></h2>

      </div>

    {% else %}

      <div class="content-box">

        <form id="clear" method="POST">
          {% csrf_token %}

          <h2>Lipid Name</h2>

          <table class="form_box">
            <tr>
              <td><h4>Original Lipid</h4></td>
              <td>-</td>
              <td><h4>New Suffix</h4></td>
              <td></td>
            </tr>
            <tr>
              <td>{{ lipid_info_form.data_lipid_name }}</td>
              <td>-</td>
              <td>{{ lipid_info_form.data_lipid_suffix }}</td>

        {% if atom_ammount_form %}
                </tr>

              </table>

            </form>

          </div>

          <div class="content-box">

            <form id="left" method="POST" >
              {% csrf_token %}

              <h2>Add Adjustments</h2>

              <table class="form_box">
                <tr>
                  <td>Atom Name</td>
                  <td>Ammount</td>
                  <td>Location</td>
                  <td></td>
                </tr>
                <tr>
                  <td>{{ atom_ammount_form.data_lipid_atom_name }}</td>
                  <td>{{ atom_ammount_form.data_lipid_atom_ammount }}</td>
                  <td>{{ atom_ammount_form.atom_location }}</td>
                  <td><button type="submit" name="atom_ammount" >Update</button></td>
                </tr>
              </table>
            </form>

            <div id="left">
              <h2>Adjustments</h2>

              <h3>Headgroup</h3>
              <table class="form_box" >
                <tr>
                  <td><h4>Atom Name</h4></td>
                  <td><h4>Ammount</h4></td>
                </tr>
                {% for atom in data_lipid_atoms %}
                  {% if atom.atom_location == 'HG' %}
                    <tr>
                      <td>{{ atom.data_lipid_atom_name }}</td>
                      <td>{{ atom.data_lipid_atom_ammount }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>

              <h3>Tailgroup</h3>
              <table class="form_box">
                <tr>
                  <td><h4>Atom Name</h4></td>
                  <td><h4>Ammount</h4></td>
                </tr>
                {% for atom in data_lipid_atoms %}
                  {% if atom.atom_location == 'TG' %}
                    <tr>
                      <td>{{ atom.data_lipid_atom_name }}</td>
                      <td>{{ atom.data_lipid_atom_ammount }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </div>

          </div>

          <div class="content-box">
            <form method="POST">
              {% csrf_token %}
              <button type="submit" name="done" >Done</button>
            </form>
          </div>

      {% else %}

              <td><button type="submit" name="lipid_info" >Done</button></td>
            </tr>

          </table>

        </form>

        </div>

      {% endif %}

    {% endif %}

  {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

  {% endif %}

{% endblock content %}