{% extends 'base.html' %}
{% block title %}WARNING{% endblock title %}

{% load staticfiles%}

{% block content %}

  <div class="content-box">

    <h1>Warning!</h1>

    <p>This action will permanently delete this item, and with it any work you've done on it. <em>Note: the other details of sample <strong>"{{ sample.sample_title }}"</strong> will remain untouched.</em></p>
    <p>Are you sure you want to proceed?</p>

    <button
        type="button" 
        onclick="window.location.href='{% url 'viewer:sample_detail' project_id=project.id sample_id=sample.id %}'" >
        No, go back
    </button>

    <p></p>

    <form method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="warning">Permanently delete</button>
    </form>

  </div>

{% endblock content %}