{% extends 'base.html' %}
{% block title %}Fit {{ project.project_title }}{% endblock title %}

{% load staticfiles%}

{% block content %}

    {% if user.is_authenticated %}

    <div class="content-box">
        <h1 id="inline"><a href="{% url 'viewer:sample_detail' project_id=project.id sample_id=sample.id %}">{{ sample.sample_title }}</a></h1>
        
        <div id="right">

            <form id="inline" method="POST">
                {% csrf_token %}
                <button class="success" type="submit" name="fit">Fit!</button>
            </form>

            {% if parameter.fit_report %}
                {% if show_stats %}
                    <form id="inline" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="graphs">Show Graphs</button>
                    </form>
                {% else %}
                    <form id="inline" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="statistics">Show Fit Statistics</button>
                    </form>
                {% endif %}
                
                <form id="inline" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="download">Download Data</button>
                </form>
            {% endif %}

        </div>
    </div>

    {% if x_user.display_tutorial is True %}
        <div class="announcement">
            <h2>New here?</h2>
            <p>Here is a short tutorial on how to use this page!</p>
            <p>
                <form id="inline" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="dismiss">Dismiss Tutorials</button>
                </form>
            </p>
        </div>
    {% endif %}

    <div class="content-box parameters" id="left">

        <h3>{{ parameter.name }}</h3>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <table id="center" class="form_box">

                <tr>
                    <td>{{ parameter_update_form.errors }}</td>
                </tr>

                <!-- Include SFF? -->
                <tr>
                    <td>SFF? {{ parameter_update_form.separated }}</td>
                </tr>
                <tr>
                    <td colspan="2"><hr /></td>
                </tr>

                {% if project.model_type == "SM" %}

                    <!-- LA -->
                    <tr>
                        <td><h4>LA {{ parameter_update_form.lipid_area_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.lipid_area_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.lipid_area }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.lipid_area_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td><hr /></td>
                    </tr>

                    <!-- HT -->
                    <tr>
                        <td><h4>HT {{ parameter_update_form.headgroup_thickness_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.headgroup_thickness_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.headgroup_thickness }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.headgroup_thickness_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td><hr /></td>
                    </tr>

                    <!-- HV -->
                    <tr>
                        <td><h4>HV</h4></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ parameter.headgroup_volume }}</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td><hr /></td>
                    </tr>
                    
                    <!-- TMV -->
                    <tr>
                        <td><h4>TMV {{ parameter_update_form.terminal_methyl_volume_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.terminal_methyl_volume_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.terminal_methyl_volume }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.terminal_methyl_volume_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td><hr /></td>
                    </tr>

                    <!-- CV -->
                    <tr>
                        <td><h4>CV</h4></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ parameter.chain_volume }}</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td><hr /></td>
                    </tr>

                {% elif project.model_type == "AS" %}

                    <tr>
                        <td><h2>In</h2></td>
                        <td><h2>Out</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <!-- LA -->
                    <tr>
                        <td><h4>LA {{ parameter_update_form.in_lipid_area_lock }}</h4></td>
                        <td><h4>{{ parameter_update_form.out_lipid_area_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_lipid_area_upperbound }}</td>
                        <td>{{ parameter_update_form.out_lipid_area_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_lipid_area }}</td>
                        <td>{{ parameter_update_form.out_lipid_area }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_lipid_area_lowerbound }}</td>
                        <td>{{ parameter_update_form.out_lipid_area_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <!-- HT -->
                    <tr>
                        <td><h4>HT {{ parameter_update_form.in_headgroup_thickness_lock }}</h4></td>
                        <td><h4>{{ parameter_update_form.out_headgroup_thickness_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_headgroup_thickness_upperbound }}</td>
                        <td>{{ parameter_update_form.out_headgroup_thickness_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_headgroup_thickness }}</td>
                        <td>{{ parameter_update_form.out_headgroup_thickness }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_headgroup_thickness_lowerbound }}</td>
                        <td>{{ parameter_update_form.out_headgroup_thickness_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <!-- HV -->
                    <tr>
                        <td><h4>HV</h4></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ parameter.in_headgroup_volume }}</td>
                        <td>{{ parameter.out_headgroup_volume }}</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                    
                    <!-- TMV -->
                    <tr>
                        <td><h4>TMV {{ parameter_update_form.in_terminal_methyl_volume_lock }}</h4></td>
                        <td><h4>{{ parameter_update_form.out_terminal_methyl_volume_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_terminal_methyl_volume_upperbound }}</td>
                        <td>{{ parameter_update_form.out_terminal_methyl_volume_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_terminal_methyl_volume }}</td>
                        <td>{{ parameter_update_form.out_terminal_methyl_volume }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.in_terminal_methyl_volume_lowerbound }}</td>
                        <td>{{ parameter_update_form.out_terminal_methyl_volume_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <!-- CV -->
                    <tr>
                        <td><h4>CV</h4></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ parameter.in_chain_volume }}</td>
                        <td>{{ parameter.out_chain_volume }}</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                    <tr>
                        <td><h2>Shared</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>
                
                {% endif %}

                <!-- SIG -->
                <tr>
                    <td><h4>SIG {{ parameter_update_form.sigma_lock }}</h4></td>
                </tr>
                <tr>
                    <td>{{ parameter_update_form.sigma_upperbound }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_update_form.sigma }}</td>
                </tr>
                <tr>
                    <td>{{ parameter_update_form.sigma_lowerbound }}</td>
                </tr>
                <tr>
                    <td colspan="2"><hr /></td>
                </tr>

                {% if parameter.separated %}

                    <!-- AVR -->
                    <tr>
                        <td><h4>SF.R {{ parameter_update_form.average_vesicle_radius_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.average_vesicle_radius_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.average_vesicle_radius }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.average_vesicle_radius_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <!-- RSP -->
                    <tr>
                        <td><h4>SF.SIG {{ parameter_update_form.relative_size_lock }}</h4></td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.relative_size_upperbound }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.relative_size }}</td>
                    </tr>
                    <tr>
                        <td>{{ parameter_update_form.relative_size_lowerbound }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                {% else %}

                    <!-- AVR -->
                    <tr class="hidden">
                        <td><h4>SFF R {{ parameter_update_form.average_vesicle_radius_lock }}</h4></td>
                    </tr>
                    <tr class="hidden">
                        <td>{{ parameter_update_form.average_vesicle_radius_upperbound }}</td>
                    </tr>
                    <tr class="hidden">
                        <td>{{ parameter_update_form.average_vesicle_radius }}</td>
                    </tr>
                    <tr class="hidden">
                        <td>{{ parameter_update_form.average_vesicle_radius_lowerbound }}</td>
                    </tr>
                    <tr class="hidden">
                        <td colspan="2"><hr /></td>
                    </tr>

                    <!-- RSP -->
                    <tr class="hidden">
                        <td><h4>SFF SIG {{ parameter_update_form.relative_size_lock }}</h4></td>
                    </tr>
                    <tr class="hidden">
                        <td>{{ parameter_update_form.relative_size_upperbound }}</td>
                    </tr>
                    <tr class="hidden">
                        <td>{{ parameter_update_form.relative_size }}</td>
                    </tr>
                    <tr class="hidden">
                        <td>{{ parameter_update_form.relative_size_lowerbound }}</td>
                    </tr>
                    <tr class="hidden">
                        <td colspan="2"><hr /></td>
                    </tr>

                {% endif %}

                <tr>
                    <td>
                        <button type="submit" name="parameter_update">Update</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>

    <div id="container">

        {% if show_stats %}

            <div class="content-box">
                {% for i in parameter.fit_report %}

                    {% if i == "[[Fit Statistics]]" or i == "[[Variables]]" or i == "[[Correlations]] (unreported correlations are < 0.100)" %}
                        <h3>{{ i }}</h2>
                    {% else %}
                        <p class="indent">{{ i }}</p>
                    {% endif %}

                {% endfor %}
            </div>

        {% else %}

            <div class="content-box">
                <h2>X-Ray Data</h2>
            </div>
                {% for xray_graph, xray_range, xray_scale, xray_data in xray_graphs_and_forms %}
                <div class="content-box">
                    <p></p>
                    <div id="left" class="graph-box">
                        {{xray_graph|safe}}
                    </div>

                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table id="left" class="form_box parameters">
                                <tr>
                                    <td><h4>Scale {{ xray_scale.scale_lock }}</h4></td>
                                </tr>
                                <tr>
                                    <td>{{ xray_scale.scale_upperbound }}</td>
                                </tr>
                                <tr>
                                    <td>{{ xray_scale.scale }}</td>
                                </tr>
                                <tr>
                                    <td>{{ xray_scale.scale_lowerbound }}</td>
                                </tr>
                                <tr>
                                    <td><hr /></td>
                                </tr>
                                <tr>
                                    <td><h4>BG {{ xray_scale.background_lock }}</h4></td>
                                </tr>
                                <tr>
                                    <td>{{ xray_scale.background_upperbound }}</td>
                                </tr>
                                    <td>{{ xray_scale.background }}</td>
                                </tr>
                                <tr>
                                    <td>{{ xray_scale.background_lowerbound }}</td>
                                </tr>
                                <tr>
                                    <td><hr /></td>
                                </tr>
                                <tr>
                                    <td><h4>Min / Max</h4></td>
                                </tr>
                                <tr>
                                    <td>{{ xray_range.min_value }}</td>
                                </tr>
                                <tr>
                                    <td>{{ xray_range.max_value }}</td>
                                </tr>
                                <tr>
                                    <td><hr /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" name="{{xray_data.data_set_title}}" >Update</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                {% endfor %}

            <div class="content-box">
                <h2>Neutron Data</h2>
            </div>

                {% for neutron_graph, neutron_range, neutron_scale, neutron_data in neutron_graphs_and_forms %}
                <div class="content-box">
                    <p></p>
                    <div id="left" class="graph-box">
                        {{neutron_graph|safe}}
                    </div>

                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table id="left" class="form_box parameters">
                                <tr>
                                    <td><h4>Scale {{ neutron_scale.scale_lock }}</h4></td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_scale.scale_upperbound }}</td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_scale.scale }}</td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_scale.scale_lowerbound }}</td>
                                </tr>
                                <tr>
                                    <td><hr /></td>
                                </tr>
                                <tr>
                                    <td><h4>BG {{ neutron_scale.background_lock }}</h4></td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_scale.background_upperbound }}</td>
                                </tr>
                                    <td>{{ neutron_scale.background }}</td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_scale.background_lowerbound }}</td>
                                </tr>
                                <tr>
                                    <td><hr /></td>
                                </tr>
                                <tr>
                                    <td><h4>Min / Max</h4></td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_range.min_value }}</td>
                                </tr>
                                <tr>
                                    <td>{{ neutron_range.max_value }}</td>
                                </tr>
                                <tr>
                                    <td><hr /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" name="{{neutron_data.data_set_title}}" >Update</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                {% endfor %}

        {% endif %}

    </div>

    {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

    {% endif %}
{% endblock content %}