{% extends 'base.html' %}
{% block title %}Edit {{ project.project_title }}{% endblock title %}

{% load staticfiles%}

{% block content %}
    {% if user.is_authenticated %}

    {% if project %}
        <div class="content-box">
            <h1>
                <a href="{% url 'viewer:project_detail' project_id=project.id %}">{{project.project_title}}</a>
                {% if sample %}
                    \ <a href="{% url 'viewer:sample_detail' project_id=project.id sample_id=sample.id %}">{{ sample.sample_title }}</a>
                {% endif %}
                {% if parameters %}
                    \ {{ parameters.name }}
                {% endif %}
                {% if data %}
                    \ {{ data.data_set_title }}
                {% endif %}
            </h1>
        </div>
    {% endif %}

    <div class="content-box">

        <p></p>

        <form class="form_box" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Done</button>
        </form>
    </div>

    {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

    {% endif %}
{% endblock content %}