{% extends 'base.html' %}
{% block title %}{{ project.project_title }}{% endblock title %}

{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}

    <div class="content-box">
        
        <h1>{{ project.project_title }}</h1>

        <p>You've turned off tutorials.</p>
        <p></p>

        <h3  id="inline"><a href="{% url 'viewer:project_edit' project_id=project.id %}">Edit this project</a> or </h3>
        <h3  id="inline"> <a href="{% url 'viewer:project_delete_warning' project_id=project.id %}">Delete this project</a></h3>

    </div>

    <div class="content-box">

        <h2>Project Details</h2>

        <p>
            <h4 class="project-lipids indent" id="inline">Model: </h4> 
            {% if project.model_type == 'AS' %}
                Asymmetrical
            {% else %}
                Symmetrical
            {% endif %}
        </p>
        <p><h4 class="project-lipids indent" id="inline">Temp: </h4> {{ project.system_tempurature }} &degC</h4></p>
        <p class="indent"><a href="{% url 'viewer:project_advanced_options' project_id=project.id %}">Advanced options</a></p>

    </div>

    <div class="content-box">

        <h2>Lipids</h2>

        <p>The lipids present in this project.</p>

        {% if project_lipids %}
            <table class="project-lipids indent">

                <tr>
                    <td><h4>Name</h4></td>
                    <td></td>
                </tr>
                {% for lipid in project_lipids %}
                <tr>
                    <td><a href="{% url 'viewer:lipid_detail' lipid_name=lipid.project_lipid_name %}">{{ lipid.project_lipid_name }}</a></td>
                    <td><a href="{% url 'viewer:project_lipid_delete_warning' project_id=project.id lipid_id=lipid.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>

            <h3><a href="{% url 'viewer:project_lipid_new' project_id=project.id %}">Add another lipid</a></h3>

        {% else %}
            <h3><a href="{% url 'viewer:project_lipid_new' project_id=project.id %}">Add a lipid</a></h3>
        {% endif %}

    </div>

    <div class="content-box">

        <h2>Samples</h2>

        <p>A list of samples, each of which contain a dataset and parameters.</p>

        {% if samples %}

            <table class="project-lipids indent">

                <tr>
                    <td><h4>Name</h4></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for sample in samples %}
                <tr>
                    <td><a href="{% url 'viewer:sample_detail' project_id=project.id sample_id=sample.id %}">{{ sample.sample_title }}</a></td>
                    <td><a href="{% url 'viewer:sample_edit' project_id=project.id  sample_id=sample.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:sample_delete_warning' project_id=project.id sample_id=sample.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>

            <h3><a href="{% url 'viewer:sample_new' project_id=project.id %}">Add another sample</a></h3>

        {% else %}
            <h3><a href="{% url 'viewer:sample_new' project_id=project.id %}">Add a sample</a></h3>
        {% endif %}

    </div>

    {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

    {% endif %}

{% endblock content %}