{% extends 'base.html' %}
{% block title %}{{ project.project_title }}{% endblock title %}

{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}

        {% if tutorial and xuser_tutorial %}
            <div class="announcement">
                <h3>Project Details</h3>
                <p>This page shows you all the details of a particular project.</p>
                <p>
                    <form id="inline" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="dismiss_this" style="margin-right: 15px;">Temporarily dismiss <strong>just this page's</strong> tutorials</button>
                    </form>
                    <form id="inline" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="dismiss_all">Permanently dismiss <strong>all</strong> tutorials</button>
                    </form>
                </p>
            </div>
        {% endif %}

    <div class="content-box">
        
        <h1>{{ project.project_title }}</h1><br />

        <h3  id="inline"><a href="{% url 'viewer:project_edit' project_id=project.id %}">Edit this project</a> or </h3>
        <h3  id="inline"> <a href="{% url 'viewer:project_delete_warning' project_id=project.id %}">Delete this project</a></h3>

    </div>

    {% if tutorial and x_user.display_tutorial %}
        <div class="announcement">
            <p>The <strong>model</strong> specifies which math is used to process your system, based on it's characteristics.</p>
            <p>Advanced options are available for users who require more flexibility in the model. <strong>Enabling these options may make your analysis more difficult.</strong></p>
        </div>
    {% endif %}

    <div class="content-box">

        <h2>Project Details</h2>

        <p>
            <h4 class="project-lipids indent" id="inline">Model: </h4> 
            {% if project.model_type == 'AS' %}
                Asymmetrical
            {% else %}
                Symmetrical
            {% endif %}
        </p>
        <p><h4 class="project-lipids indent" id="inline">Temp: </h4> {{ project.system_tempurature }} &degC</h4></p>
        <p class="indent"><a href="{% url 'viewer:project_advanced_options' project_id=project.id %}">Advanced options</a></p>

    </div>

    {% if tutorial and x_user.display_tutorial %}
        <div class="announcement">
            <p>Here you should specify the <strong>"common" or "nomial"</strong> versions of the lipids found in this project. Later on, you'll be able to specify specific versions of these lipids, including different dueterated versions, and creating other augmentations yourself.</p>
        </div>
    {% endif %}

    <div class="content-box">

        <h2>Lipids</h2>

        <p>The lipids present in this project.</p>

        {% if project_lipids %}
            <table class="project-lipids indent">

                <tr>
                    <td><h4>Name</h4></td>
                    <td></td>
                </tr>
                {% for lipid in project_lipids %}
                <tr>
                    <td><a href="{% url 'viewer:lipid_detail' lipid_name=lipid.project_lipid_name %}">{{ lipid.project_lipid_name }}</a></td>
                    <td><a href="{% url 'viewer:project_lipid_delete_warning' project_id=project.id lipid_id=lipid.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>

            <h3><a href="{% url 'viewer:project_lipid_new' project_id=project.id %}">Add another lipid</a></h3>

        {% else %}
            <h3><a href="{% url 'viewer:project_lipid_new' project_id=project.id %}">Add a lipid</a></h3>
        {% endif %}

    </div>

    {% if tutorial and x_user.display_tutorial %}
        <div class="announcement">
            <p><strong>Samples</strong> contain your datasets and you analysis of those datasets.</p>
            <p>This structure is used to help keep things organized. You can create as many samples as you need for a given project. <strong>Samples will all use the tempurature, model, and sublist of lipids specified on the project level.</strong></p>
        </div>
    {% endif %}

    <div class="content-box">

        <h2>Samples</h2>

        <p>A list of samples, each of which contain a dataset and parameters.</p>

        {% if samples %}

            <table class="project-lipids indent">

                <tr>
                    <td><h4>Name</h4></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for sample in samples %}
                <tr>
                    <td><a href="{% url 'viewer:sample_detail' project_id=project.id sample_id=sample.id %}">{{ sample.sample_title }}</a></td>
                    <td><a href="{% url 'viewer:sample_edit' project_id=project.id  sample_id=sample.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:sample_delete_warning' project_id=project.id sample_id=sample.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>

            <h3><a href="{% url 'viewer:sample_new' project_id=project.id %}">Add another sample</a></h3>

        {% else %}
            <h3><a href="{% url 'viewer:sample_new' project_id=project.id %}">Add a sample</a></h3>
        {% endif %}

    </div>

    {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

    {% endif %}

{% endblock content %}