{% extends 'base.html' %}
{% block title %}{{ sample.sample_title }}{% endblock title %}

{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}

    <div class="content-box">
        <h1><a href="{% url 'viewer:project_detail' project_id=project.id %}">{{project.project_title}}</a> \ {{ sample.sample_title }}</h1>
    </div>

    <div class="content-box">

        <h2>Sample Composition</h2>

    {% if sample_lipids_both or sample_lipids_in or sample_lipids_out %}
        <table class="project-lipids indent">

            {% if total_mols != 1 %}
                <div class="error">
                    <h4>The total mol fraction of your composition does not equal to 1!</h4>
                    <p>This may cause errors in your calculations. Make sure to correct this before continuing.</p>
                </div>
            {% elif total_mols_in != 1 %}
                <div class="error">
                    <h4>The total mol fraction of your inner leaflet does not equal to 1!</h4>
                    <p>This may cause errors in your calculations. Make sure to correct this before continuing.</p>
                </div>
            {% elif total_mols_out != 1 %}
                <div class="error">
                    <h4>The total mol fraction of your outer leaflet does not equal to 1!</h4>
                    <p>This may cause errors in your calculations. Make sure to correct this before continuing.</p>
                </div>
            {% endif %}

            <tr>
                {% if sample_lipids_in %}
                    <td><h4>Location</h4></td>
                {% endif %}
                <td><h4>Lipid Name</h4></td>
                <td><h4>Mol Fraction</h4></td>
                <td></td>
                <td></td>
            </tr>
            {% for lipid in sample_lipids_both %}
                <tr>
                    <td>
                        {{ lipid.sample_lipid_name }}
                        {% if lipid.sample_lipid_augment != null %}
                            - {{ lipid.sample_lipid_augment.augmentation_suffix }}
                        {% elif lipid.sample_lipid_custom_augment != null %}
                            - {{ lipid.sample_lipid_custom_augment.augmentation_suffix }}
                        {% endif %}
                    </td>
                    <td>{{ lipid.lipid_mol_fraction }}</td>
                    <td><a href="{% url 'viewer:sample_lipid_edit' project_id=project.id sample_id=sample.id lipid_id=lipid.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:sample_lipid_delete_warning' project_id=project.id sample_id=sample.id lipid_id=lipid.id %}">Delete</a></td>
                </tr>
            {% endfor %}

            {% if sample_lipids_in %}
                <tr>
                    <td>Inner Leaflet</td>
                </tr>
            {% endif %}

            {% for lipid in sample_lipids_in %} 
                <tr>
                    <td></td>
                    <td>
                        {{ lipid.sample_lipid_name }}
                        {% if lipid.sample_lipid_augment != null %}
                            - {{ lipid.sample_lipid_augment.augmentation_suffix }}
                        {% elif lipid.sample_lipid_custom_augment != null %}
                            - {{ lipid.sample_lipid_custom_augment.augmentation_suffix }}
                        {% endif %}
                    </td>
                    <td>{{ lipid.lipid_mol_fraction }}</td>
                    <td><a href="{% url 'viewer:sample_lipid_edit' project_id=project.id sample_id=sample.id lipid_id=lipid.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:sample_lipid_delete_warning' project_id=project.id sample_id=sample.id lipid_id=lipid.id %}">Delete</a></td>
                </tr>
            {% endfor %}

            {% if sample_lipids_out %}
                <tr>
                    <td>Outer Leaflet</td>
                </tr>
            {% endif %}

            {% for lipid in sample_lipids_out %} 
                <tr>
                    <td></td>
                    <td>
                        {{ lipid.sample_lipid_name }}
                        {% if lipid.sample_lipid_augment != null %}
                            - {{ lipid.sample_lipid_augment.augmentation_suffix }}
                        {% elif lipid.sample_lipid_custom_augment != null %}
                            - {{ lipid.sample_lipid_custom_augment.augmentation_suffix }}
                        {% endif %}
                    </td>
                    <td>{{ lipid.lipid_mol_fraction }}</td>
                    <td><a href="{% url 'viewer:sample_lipid_edit' project_id=project.id sample_id=sample.id lipid_id=lipid.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:sample_lipid_delete_warning' project_id=project.id sample_id=sample.id lipid_id=lipid.id %}">Delete</a></td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}
    
            <h3><a href="{% url 'viewer:sample_lipid_new' project_id=project.id sample_id=sample.id %}">Add a lipid</a></h3>
        </div>
    
    <div class="content-box">

        <h2>Data Files</h2>

    {% if data_xr or data_nu %}

        <table class="data indent">
            <tr>
                <td><h4>Data Type</h4></td>
                <td><h4>Name</h4></td>
                <td><h4>D<sub>2</sub>O Mol Fraction</h4></td>
                <td><h4>Date Uploaded</h4></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>X-Ray</td>
            </tr>
            {% for data in data_xr %}
                <tr>
                    <td></td>
                    <td>{{ data.data_set_title }}</td>
                    <td>{{ data.d2o_mol_fraction }}</td>
                    <td>{{ data.upload_time }}</td>
                    <td><a href="{% url 'viewer:data_edit' project_id=project.id sample_id=sample.id data_id=data.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:data_delete_warning' project_id=project.id sample_id=sample.id data_id=data.id %}">Delete</a></td>
                </tr>
            {% endfor %}

            <tr>
                <td>Neutron</td>
            </tr>
            {% for data in data_nu %}
                <tr>
                    <td></td>
                    <td>{{ data.data_set_title }}</td>
                    <td>{{ data.d2o_mol_fraction }}</td>
                    <td>{{ data.upload_time }}</td>
                    <td><a href="{% url 'viewer:data_edit' project_id=project.id sample_id=sample.id data_id=data.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:data_delete_warning' project_id=project.id sample_id=sample.id data_id=data.id %}">Delete</a></td>
                </tr>
            {% endfor %}
            
        </table>
    
            <h3><a href="{% url 'viewer:data_upload' project_id=project.id sample_id=sample.id %}">Upload another file</a></h3>
        </div>
    {% else %}
            <h3><a href="{% url 'viewer:data_upload' project_id=project.id sample_id=sample.id %}">Upload a file</a></h3>
        </div>
    {% endif %}

    <div class="content-box">

        <h2>Parameters</h2>

        {% if project.model_type == "SM" %}
            {% if parameters %}
                <p></p>
                <table class="parameter indent">
                        <tr>
                            <td><h4 id="inline">Name</h4></td>
                            <td>
                                <h4 id="inline">A<sub>L</sub> [&#8491;<sup>2</sup>] </h4>
                                <span tooltip tooltip-top tooltip-content="Area per lipid"><img id="no-margins" src="{% static "viewer/images/what.png" %}" width="15px" alt="question icon">
                            </td>
                            <td>
                                <h4 id="inline">D<sub>H</sub> [&#8491;] </h4>
                                <span tooltip tooltip-top tooltip-content="Headgroup thickness"><img id="no-margins" src="{% static "viewer/images/what.png" %}" width="15px" alt="question icon">
                            </td>
                            <td>
                                <h4 id="inline">V<sub>T</sub> [&#8491;<sup>3</sup>] </h4>
                                <span tooltip tooltip-top tooltip-content="Terminal methyl volume"><img id="no-margins" src="{% static "viewer/images/what.png" %}" width="15px" alt="question icon">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for parameter in parameters %}
                            <tr>
                                <td><a href="{% url 'viewer:fit_main' project_id=project.id sample_id=sample.id parameter_id=parameter.id %}">{{ parameter.name }}</a></td>
                                <td>{{ parameter.lipid_area }}</td>
                                <td>{{ parameter.headgroup_thickness }}</td>
                                <td>{{ parameter.terminal_methyl_volume }}</td>
                                <td><a href="{% url 'viewer:symmetrical_parameters_edit' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Edit</a></td>
                                <td><a href="{% url 'viewer:symmetrical_parameter_delete_warning' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Delete</a></td>
                            </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <h3><a href="{% url 'viewer:symmetrical_parameters_new' project_id=project.id sample_id=sample.id %}">Generate new parameters</a></h3>
        {% elif project.model_type == "AS" %}
            {% if parameters %}
                <table class="parameter indent">
                        <tr>
                            <td><h4>Name</h4></td>
                            <td><h4>In Overall Lipid Area</h4></td>
                            <td><h4>In Headgroup Thickness</h4></td>
                            <td><h4>In Terminal Methly Vol.</h4></td>
                            <td><h4>Out Overall Lipid Area</h4></td>
                            <td><h4>Out Headgroup Thickness</h4></td>
                            <td><h4>Out Terminal Methly Vol.</h4></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for parameter in parameters %}
                            <tr>
                                <td><a href="{% url 'viewer:fit_main' project_id=project.id sample_id=sample.id parameter_id=parameter.id %}">{{ parameter.name }}</a></td>
                                <td>{{ parameter.in_lipid_area }}</td>
                                <td>{{ parameter.in_headgroup_thickness }}</td>
                                <td>{{ parameter.in_terminal_methyl_volume }}</td>
                                <td>{{ parameter.out_lipid_area }}</td>
                                <td>{{ parameter.out_headgroup_thickness }}</td>
                                <td>{{ parameter.out_terminal_methyl_volume }}</td>
                                <td><a href="{% url 'viewer:asymmetrical_parameters_edit' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Edit</a></td>
                                <td><a href="{% url 'viewer:asymmetrical_parameter_delete_warning' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Delete</a></td>
                            </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <h3><a href="{% url 'viewer:asymmetrical_parameters_new' project_id=project.id sample_id=sample.id %}">Generate new parameters</a></h3>
        {% endif %}
        
    </div>

    {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

    {% endif %}

{% endblock content %}