{% extends 'base.html' %}
{% block title %}{{ sample.sample_title }}{% endblock title %}

{% load staticfiles %}
{% block content %}
    {% if user.is_authenticated %}

    <div class="content-box">
        <h1>{{ sample.sample_title }}</h1>
    </div>
    
    <div class="content-box">

    <h2>Data Files</h2>

    {% if datas %}

        <table class="data indent">
            <tr>
                <td><h4>Name</h4></td>
                <td><h4>Data Type</h4></td>
                <td><h4>D2O Mol Fraction</h4></td>
                <td><h4>Uploaded</h4></td>
                <td></td>
                <td></td>
            </tr>
            
            {% for data in datas %}
                <tr>
                    <td>{{ data.data_set_title }}</td>
                    <td>{{ data.data_type }}</td>
                    <td>{{ data.d2o_mol_fraction }}</td>
                    <td>{{ data.upload_time }}</td>
                    <td><a href="{% url 'viewer:data_edit' project_id=project.id sample_id=sample.id data_id=data.id %}">Edit</a></td>
                    <td><a href="{% url 'viewer:data_delete_warning' project_id=project.id sample_id=sample.id data_id=data.id %}">Delete</a></td>
                </tr>

            {% endfor %}
            
        </table>
    
            <h3><a href="{% url 'viewer:data_upload' project_id=project.id sample_id=sample.id %}">Upload another file</a></h3>
        </div>
    {% else %}
            <h3><a href="{% url 'viewer:data_upload' project_id=project.id sample_id=sample.id %}">Upload a file</a></h3>
        </div>
    {% endif %}

    <div class="content-box">

        <h2>Augmented Lipids</h2>

        <p>The augmented versions of the lipids present in each particular dataset. Augmentations may only be applied to neutron data and effect the scattering lengths used in calculations.</p>

        <table class="project-lipids indent">

            <tr>
                <td><h4>Data Set</h4></td>
                <td><h4>Lipid Name</h4></td>
                <td></td>
                <td></td>
            </tr>
            {% for data in datas %}
                {% if data.data_type == 'NU' %}
                    <tr>
                        <td>{{ data.data_set_title }}</td>
                        <td colspan="6"></td>
                        <td><a href="{% url 'viewer:data_lipid_new' project_id=project.id sample_id=sample.id data_id=data.id %}">Add Adjustment</a></td>
                    </tr>
                    {% for lipid in data_lipids %}
                        {% if data.data_set_title|stringformat:"s" in lipid.data_set_title|stringformat:"s" %}
                            <tr>
                                <td></td>
                                <td>
                                    {{ lipid.data_lipid_name.project_lipid_name }}
                                    {% if lipid.data_lipid_suffix %}
                                        - {{ lipid.data_lipid_suffix }}
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'viewer:data_lipid_edit' project_id=project.id sample_id=sample.id data_id=data.id lipid_id=lipid.id %}">View</a></td>
                                <td><a href="{% url 'viewer:data_lipid_delete_warning' project_id=project.id sample_id=sample.id data_id=data.id lipid_id=lipid.id %}">Delete</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %} 

        </table>

    </div>

    <div class="content-box">

        <h2>Parameters</h2>

        {% if project.model_type == "SM" %}
            {% if parameters %}
                <table class="parameters indent">
                        <tr>
                            <td><h4>Name</h4></td>
                            <td><h4>Overall Lipid Area</h4></td>
                            <td><h4>Headgroup Thickness</h4></td>
                            <td><h4>Terminal Methly Vol.</h4></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for parameter in parameters %}
                            <tr>
                                <td><a href="{% url 'viewer:fit_main' project_id=project.id sample_id=sample.id parameter_id=parameter.id %}">{{ parameter.name }}</a></td>
                                <td>{{ parameter.lipid_area }}</td>
                                <td>{{ parameter.headgroup_thickness }}</td>
                                <td>{{ parameter.terminal_methyl_volume }}</td>
                                <td><a href="{% url 'viewer:symmetrical_parameters_edit' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Edit</a></td>
                                <td><a href="{% url 'viewer:symmetrical_parameter_delete_warning' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Delete</a></td>
                            </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <h3><a href="{% url 'viewer:symmetrical_parameters_new' project_id=project.id sample_id=sample.id %}">Generate new parameters</a></h3>
        {% elif project.model_type == "AS" %}
            {% if parameters %}
                <table class="parameters indent">
                        <tr>
                            <td><h4>Name</h4></td>
                            <td><h4>In Overall Lipid Area</h4></td>
                            <td><h4>In Headgroup Thickness</h4></td>
                            <td><h4>In Terminal Methly Vol.</h4></td>
                            <td><h4>Out Overall Lipid Area</h4></td>
                            <td><h4>Out Headgroup Thickness</h4></td>
                            <td><h4>Out Terminal Methly Vol.</h4></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for parameter in parameters %}
                            <tr>
                                <td><a href="{% url 'viewer:fit_main' project_id=project.id sample_id=sample.id parameter_id=parameter.id %}">{{ parameter.name }}</a></td>
                                <td>{{ parameter.in_lipid_area }}</td>
                                <td>{{ parameter.in_headgroup_thickness }}</td>
                                <td>{{ parameter.in_terminal_methyl_volume }}</td>
                                <td>{{ parameter.out_lipid_area }}</td>
                                <td>{{ parameter.out_headgroup_thickness }}</td>
                                <td>{{ parameter.out_terminal_methyl_volume }}</td>
                                <td><a href="{% url 'viewer:asymmetrical_parameters_edit' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Edit</a></td>
                                <td><a href="{% url 'viewer:asymmetrical_parameter_delete_warning' project_id=project.id sample_id=sample.id sample_id=sample.id parameter_id=parameter.id %}">Delete</a></td>
                            </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <h3><a href="{% url 'viewer:asymmetrical_parameters_new' project_id=project.id sample_id=sample.id %}">Generate new parameters</a></h3>
        {% endif %}
        
    </div>

    {% else %}

    <div class="content-box">
        <h1>You're not logged in</h1>

        <p>To view this page, please <a href="{% url 'login' %}">login</a>.</p>
    </div>

    {% endif %}

{% endblock content %}